:root{
  --primary-color: #fff;
  --secondary-color: #001948;
  --tertiary-color: #eba51c;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.app{
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.about-text{
  text-align: center;
  margin-top: 4em;
  font-size: 50px;
  font-family: Garamond, serif;
  margin-left: 10em;
}