:root{
  --primary-color: #fff;
  --secondary-color: #001948;
  --tertiary-color: #eba51c;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.app{
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#about{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 2em;
}



.about-image{
  width: 530px;
  height: 586px;
  margin-left: 4em;
  margin-top: 5em;
}

.about-text{
  text-align: left;
  margin-left: 3.2em;
  font-size: 50px;
  font-family: Garamond, serif;
}

.icon-container{
  margin-top: 1.5em;
  margin-left: 10em;
  display: flex;
  justify-content: safe;
  align-items: center;
  flex-direction: row;
}

.icon-container i{
  margin-right: 0.25em;
  color: var(--tertiary-color);
  font-size: 60px;
  
}

.about-description{
  width: 510px;
  height: 120px;
  margin-top: 1em;
  margin-left: 10em;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}